
	<div style ="font-size: 20px; text-type:justify;" class = "titulo">

	  		<strong>Title:</strong>
	  		</br>
	  			<%= @post.title %>


		<div  class="titulo">
			</br>
			  <strong>Text:</strong>
			</br>
			  <%= @post.text %>
			
		</div>
	<h2>Comentarios</h2>
	<%= render "comments/form" %>
	<% @post.comments.each do |comment| %>
		<%unless(comment.commenter.blank?)%>
		  <p>
		    <strong>Commenter:</strong>
		    <%= comment.commenter %>
		  </p>
		 
		  <p>
		    <strong>Comment:</strong>
		    <%= comment.body %>
		  </p>
		<% end %>
	<% end %>
	</div>	
<div style= "positon: center; margin-top: 10px;" 	class="link"> 
	<%= link_to 'Back', posts_path %>	
	</br>
	<%= link_to 'Edit', edit_post_path(@post) %>
</div>