
	<div style ="font-size: 20px; text-type:justify;" class = "titulo">

	  		<strong>Title:</strong>
	  		</br>
	  			<%= @post.title %>


		<div  class="titulo">
			</br>
			  <strong>Text:</strong>
			</br>
			  <%= @post.text %>
			
		</div>
	
	<h2>Agrega un comentario:</h2>
	<%= form_for([@post, @post.comments.build]) do |f| %>
	  <p>
	    <%= f.label :commenter %><br />
	    <%= f.text_field :commenter %>
	  </p>
	  <p>
	    <%= f.label :body %><br />
	    <%= f.text_area :body %>
	  </p>
	  <p>
	    <%= f.submit %>
	  </p>
	<% end %>
	<h2>Comentarios</h2>
	<% @post.comments.each do |comment| %>
		<%= render "comments/form" %>
		

		  <p>
		    <strong>Commenter:</strong>
		    <%= comment.commenter %>
		  </p>
		 
		  <p>
		    <strong>Comment:</strong>
		    <%= comment.body %>
		  </p>
		<% end %>
	</div>	
<div style= "positon: center; margin-top: 10px;" 	class="link"> 
	<%= link_to 'Back', posts_path %>	
	</br>
	<%= link_to 'Edit', edit_post_path(@post) %>
</div>